<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyYP1VQVviuspOiCgeq7d61olGnm96Jng</string>
	<key>GCM_SENDER_ID</key>
	<string>203848915104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentcartest</string>
	<key>PROJECT_ID</key>
	<string>rent-a-ride-c9af8</string>
	<key>STORAGE_BUCKET</key>
	<string>rent-a-ride-c9af8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203848915104:ios:009be08d8ad2a23ff0d1c5</string>
</dict>
</plist>